.App {
  text-align: left;
}

.App-header {
  padding: 4% 4% 0 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.input {
  padding: 2% 6% 0 6%;
  font-size: 16px;
  color: black;
}

.input-indented {
  padding: 2% 6% 0 7%;
  font-size: 16px;
  color: black;
}

.output {
  padding: 2% 6% 0 7%;
  font-size: 16px;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
